@import "tailwindcss";

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* ✅ Force Outfit for all elements */
* {
    font-family: 'Outfit', sans-serif !important;
}

/* ✅ Firefox sometimes ignores form controls */
select,
input,
button,
textarea,
option {
    font-family: 'Outfit', sans-serif !important;
}