@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* ✅ Force Outfit for all elements */
* {
    font-family: 'Outfit', sans-serif !important;
}

/* ✅ Firefox sometimes ignores form controls */
select,
input,
button,
textarea,
option {
    font-family: 'Outfit', sans-serif !important;
}

.custom_title_class .flex-col {
    align-items: start;
}

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    button {
        cursor: pointer;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out forwards;
}